<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>考勤</title>
    
    <link href="../../css/mui.min.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
    <link href="../../css/iconfont.css" rel="stylesheet"/>
    <link href="../../css/mui.picker.css" rel="stylesheet" />
	<link href="../../css/mui.poppicker.css" rel="stylesheet" />
    <script src="../../js/mui.min.js"></script>
	<script src="../../js/mui.picker.js"></script>
	<script src="../../js/mui.poppicker.js"></script>
</head>
<body>
<header class="mui-bar mui-bar-nav">
	<button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span></button>
	<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">完成</button>
	<h1 class="mui-title">审批</h1>
</header>
<style type="text/css">
	.mui-btn-block{
		margin-bottom: 0px;
	}
	.fixed-word{
		float: left;
		margin-left: 20px;
		color: #737373;
	}
	.ajax-word{
		margin-right: 5px;
		float: right;
	}
</style>
<div class="mui-content">
	<ul class="mui-table-view mui-table-view-chevron" >
		<li class="mui-table-view-cell mui-media">
			<img class="mui-media-object mui-pull-left head-img" id="head-img" src="../../favicon.ico">
			<div class="mui-media-body">
				小明
				<p class='mui-ellipsis'>账号:xiaoming</p>
			</div>
		</li>
	
	<li class="mui-table-view-cell mui-media">
		<span class="fixed-word">请假类型</span><span id="type" class="ajax-word">病假</span>
	</li>
	<li class="mui-table-view-cell mui-media">
		<span class="fixed-word">开始日期</span><span id="startday" class="ajax-word">2015-12-17</span>
	</li>
	<li class="mui-table-view-cell mui-media">
		<span class="fixed-word">结束日期</span><span id="endday" class="ajax-word">2015-12-17</span>
	</li>
	<li class="mui-table-view-cell mui-media">
		<span class="fixed-word">请假原因</span><br><span id="reason" class="ajax-word" style="margin-left: 20px;">大家一起玩，让我们一起摇摆，一起摇摆</span>
	</li>
	</ul>

	<ul class="mui-table-view">
		<li class="mui-table-view-cell mui-collapse">
			<a class="mui-navigate-right" href="#">一级审批意见</a>
			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell mui-media">
					<span class="fixed-word">审批人</span><span id="check_user" class="ajax-word">天猫君</span>
				</li>
				<li class="mui-table-view-cell mui-media">
					<span class="fixed-word">审批结果</span><span id="check_result" class="ajax-word">通过</span>
				</li>
				<li class="mui-table-view-cell mui-media">
					<span class="fixed-word">审批原因</span><br><span id="check_reason" class="ajax-word" style="margin-left: 20px;">大家一起玩，让我们一起摇摆，一起摇摆</span>
				</li>
			</ul>
		</li>
		<li class="mui-table-view-cell mui-collapse">
			<a class="mui-navigate-right" href="#">二级审批意见</a>
			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell mui-media">
					<span class="fixed-word">审批人</span><span id="check_user" class="ajax-word">天猫君</span>
				</li>
				<li class="mui-table-view-cell mui-media">
					<span class="fixed-word">审批结果</span><span id="check_result" class="ajax-word">通过</span>
				</li>
				<li class="mui-table-view-cell mui-media">
					<span class="fixed-word">审批原因</span><br><span id="check_reason" class="ajax-word" style="margin-left: 20px;">大家一起玩，让我们一起摇摆，一起摇摆</span>
				</li>
			</ul>
		</li>
		<li class="mui-table-view-cell mui-collapse">
			<a class="mui-navigate-right" href="#">三级审批意见</a>
			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell mui-media">
					<span class="fixed-word">审批人</span><span id="check_user" class="ajax-word">天猫君</span>
				</li>
				<li class="mui-table-view-cell mui-media">
					<span class="fixed-word">审批结果</span><span id="check_result" class="ajax-word">通过</span>
				</li>
				<li class="mui-table-view-cell mui-media">
					<span class="fixed-word">审批原因</span><br><span id="check_reason" class="ajax-word" style="margin-left: 20px;">大家一起玩，让我们一起摇摆，一起摇摆</span>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="mui-table-view mui-table-view-chevron">
		<li class="mui-table-view-cell">
			是否同意请假
			<div id="autoLogin" class="mui-switch">
				<div class="mui-switch-handle"></div>
			</div>
		</li>

			<div class="mui-input-row" style="margin: 10px 5px;">
				<textarea rows="3" placeholder="请输入审批原因"></textarea>
			</div>
	
	</ul>
</div>
	

<script type="text/javascript">

	
</script>
</body>
</html>