<header class="mui-bar mui-bar-nav">
	<!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
	<h1 class="mui-title">考勤统计</h1>
</header>
<div class="mui-input-row mui-search">
	<input type="search" class="mui-input-speech mui-input-clear" placeholder="带语音识别的搜索框">
</div>
<div class="mui-content">
	<ul class="mui-table-view">
		<li class="mui-table-view-cell mui-hidden">cared
			<div id="M_Toggle" class="mui-switch mui-active">
				<div class="mui-switch-handle"></div>
			</div>
		</li>
		<li class="mui-table-view-cell mui-media">
			<a href="#">
				<img class="mui-media-object mui-pull-left" src="http://dev.dcloud.net.cn/mui/assets/img/shuijiao.jpg">
				<div class="mui-media-body">
					幸福
					<p class='mui-ellipsis'>能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media">
			<a href="#">
				<img class="mui-media-object mui-pull-left" src="http://dev.dcloud.net.cn/mui/assets/img/muwu.jpg">
				<div class="mui-media-body">
					木屋
					<p class='mui-ellipsis'>想要这样一间小木屋，夏天挫冰吃瓜，冬天围炉取暖.</p>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media">
			<a href="#">
				<img class="mui-media-object mui-pull-left" src="http://dev.dcloud.net.cn/mui/assets/img/cbd.jpg">
				<div class="mui-media-body">
					CBD
					<p class='mui-ellipsis'>烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media">
			<a href="#">
				<img class="mui-media-object mui-pull-left" src="http://dev.dcloud.net.cn/mui/assets/img/yuantiao.jpg">
				<div class="mui-media-body">
					远眺
					<p class='mui-ellipsis'>静静的看这个世界，最后终于疯了</p>
				</div>
			</a>
		</li>
	</ul>
</div>