<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>考勤</title>
    
    <link href="../../css/mui.min.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
    <link href="../../css/iconfont.css" rel="stylesheet"/>
    <script src="../../js/mui.min.js"></script>
    <script src="../../libs/bower_components/angular/angular.min.js"></script>
    <script src="../../libs/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="../../js/app.js"></script>
</head>
<body ng-app="attendance" ng-controller="ctrl_homepage">

	<ul class="mui-table-view">
		<li class="mui-table-view-divider">
			<h3>欢迎您，{{username}}</h3>
			<p>今天是  {{today}}</p>
		</li>
		<li class="mui-table-view-cell">
			<div style="position:relative;">
				<img src="../../images/yuantiao.jpg" style="width:100%" />
				<div style="position:absolute;z-indent:2;left:20px;top:10px;">
				<h3>{{temperature}}</h3>
				<h4>pm2.5: {{pm25}}</h4>
				</div>
				<p>穿衣指数：{{des}}</p>
			</div>
		</li>
		<li class="mui-table-view-cell">
			<h5>上班时间</h5>
			<p><span style="font-size:20px">08:00</span> <span style="position:absolute;top:35%;font-size:30px;padding-left:50px;" ng-model="comeMsg">还未签到</span></p>
			<button class="mui-btn mui-btn-primary" ng-click="comeSign()">签到</button>
		</li>
		<li class="mui-table-view-cell">
			<h5>下班时间</h5>
			<p><span style="font-size:20px">18:00</span> <span style="position:absolute;top:35%;font-size:30px;padding-left:50px;" ng-model="leaveMsg">还未签到</span></p>
			<button class="mui-btn mui-btn-primary" ng-click="leaveSign()">签到</button>
		</li>
	</ul>
	<script type="text/javascript">
		
	</script>
</body>
</html>