<header class="mui-bar mui-bar-nav">
    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
    <h1 class="mui-title">首页</h1>
</header>
<div class="mui-content">

<ul class="mui-table-view">
	<li class="mui-table-view-divider"><p>欢迎您，Mark</p>
<p>今天是{{dateday}}</p></li>
	<li class="mui-table-view-cell">
		<div style="background:url('http://dev.dcloud.net.cn/mui/assets/img/yuantiao.jpg') no-repeat;width:100%">
			温度：<br>
			PM2.5：<br>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		</div> 

	</li>
	<li class="mui-table-view-cell">
		<h5>上班时间</h5>
		<p><span style="font-size:20px">08:00</span> <span style="position:absolute;top:35%;font-size:30px;padding-left:50px;">准时签到</span></p>
		<button class="mui-btn mui-btn-primary">签到</button>
	</li>
	<li class="mui-table-view-cell">
		<h5>下班时间</h5>
		<p><span style="font-size:20px">18:00</span> <span style="position:absolute;top:35%;font-size:30px;padding-left:50px;">还未签到</span></p>
		<button class="mui-btn mui-btn-primary">签到</button>
	</li>
</ul>
</div>