<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>考勤</title>
    
    <link href="../../css/mui.min.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
    <link href="../../css/iconfont.css" rel="stylesheet"/>
    <script src="../../js/mui.min.js"></script>

</head>
<body>
<style type="text/css">
	.mui-table-view {
		margin-bottom: 20px;
	}
</style>
<ul class="mui-table-view mui-table-view-chevron">
	<li class="mui-table-view-cell mui-media">
		<a class="mui-navigate-right" href="#account">
			<img class="mui-media-object mui-pull-left head-img" id="head-img" src="../../favicon.ico">
			<div class="mui-media-body">
				小明
				<p class='mui-ellipsis'>账号:xiaoming</p>
			</div>
		</a>
	</li>
</ul>
<ul id="grid-href" class="mui-table-view mui-grid-view mui-grid-9" style="background-color: #fff;">
    <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6"><a href="edit-attendance.html">
            <span class="mui-icon mui-icon-compose"></span>
            <div class="mui-media-body">新建请假</div></a></li>
    <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6"><a href="#">
        	<span class="mui-icon mui-icon-search"></span>
        	<div class="mui-media-body">签到查询</div></a></li>
    <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6"><a href="#">
            <span class="mui-icon mui-icon-paperplane"></span>
            <div class="mui-media-body">摇一摇</div></a></li>
    <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6"><a href="#">
            <span class="mui-icon mui-icon-email"></span>
            <div class="mui-media-body">帮助与反馈</div></a>
    </li>
</ul>
<br>
<ul class="mui-table-view mui-table-view-chevron">
	<li class="mui-table-view-cell">
		<a href="#notifications" class="mui-navigate-right">我发起的</a>
	</li>
	<li class="mui-table-view-cell">
		<a href="#privacy" class="mui-navigate-right">我处理的</a>
	</li>
</ul>
<ul class="mui-table-view">
	<li class="mui-table-view-cell" style="text-align: center;">
		<a>退出登录</a>
	</li>
</ul>
<script type="text/javascript">
	mui.init({
		statusBarBackground: '#f7f7f7',
	});
	mui('grid-href').on('tap', 'a', function(e) {
		var targetTab = this.getAttribute('href');
		console.log(targetTab);
		
		mui.openWindow({
			url:targetTab,
			id:targetTab,
			createNew:true,
			waiting:{
				autoShow:false
			}
		});
	});
	
	//首页返回键处理
	//处理逻辑：1秒内，连续两次按返回键，则退出应用；
	var first = null;
	mui.back = function() {
		//首次按键，提示‘再按一次退出应用’
		if (!first) {
			first = new Date().getTime();
			mui.toast('再按一次退出应用');
			setTimeout(function() {
				first = null;
			}, 1000);
		} else {
			if (new Date().getTime() - first < 1000) {
				plus.runtime.quit();
			}
		}
	};
</script>
</body>
</html>