<nav id="dash" class="mui-bar mui-bar-tab mui-baidu-hidden">
	<a id="dash_home" class="mui-tab-item mui-active" ui-sref="homepage"> 
		<span class="mui-icon iconfont icon-iconzhuye"></span> 
		<span class="mui-tab-label">首页</span> 
	</a>
	<a id="dash_statistic" class="mui-tab-item"> 
		<span class="mui-icon iconfont icon-liebiao"></span> 
		<span class="mui-tab-label">考勤统计</span> 
	</a>
	<a id="dash_user" class="mui-tab-item"> 
		<span class="mui-icon iconfont icon-yonghu"></span> 
		<span class="mui-tab-label">我的</span> 
	</a>
</nav>